
<!-- footer-start -->
{% load static %}
<footer>
    <div class="fotter-area d-dark-bg">
        <div class="footer__top pt-80 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 order-last-md">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Care</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="{% url 'faqs' %}">New Customers</a></li>
                                                <li><a href="{% url 'faqs' %}">How to use Account</a></li>
                                                <li><a href="{% url 'faqs' %}">Placing an Order</a></li>
                                                <li><a href="{% url 'faqs' %}">Payment Methods</a></li>
                                                <li><a href="{% url 'faqs' %}">Delivery &amp; Dispatch</a></li>
                                                <li><a href="{% url 'faqs' %}">Problems with Order</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Service</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="{% url 'contact' %}">Help Center</a></li>
                                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                                <li><a href="{% url 'contact' %}">Report Abuse</a></li>
                                                <li><a href="{% url 'contact' %}">Submit a Dispute</a></li>
                                                <li><a href="{% url 'contact' %}">Policies &amp; Rules</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8 order-first-md">
                        <div class="footer__top-left">
                            <div class="row">
                                
                                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                                    <div class="row">
                                        
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="footer__widget">
                                                <div class="footer__widget-title">
                                                    <h4>My Account</h4>
                                                </div>
                                                <div class="footer__widget-content">
                                                    <div class="footer__link">
                                                        <ul>
                                                            <li><a href="{% url 'faqs' %}">Product Support</a></li>
                                                            <li><a href="{% url 'cart_detail' %}">Checkout</a></li>
                                                            <li><a href="{% url 'cart_detail' %}">Shopping Cart</a></li>
                                                            <li><a href="{% url 'cart_detail' %}">Wishlist</a></li>
                                                            <li><a href="{% url 'contact' %}">Terms &amp; Conditions &amp;</a></li>
                                                            <li><a href="{% url 'faqs' %}">Redeem Voucher</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="{% url 'product' %}">Store Location</a></li>
                                                <li><a href="{% url 'profile' %}">My account</a></li>
                                                <li><a href="{% url 'your_order' %}">Order Tracking</a></li>
                                                <li><a href="{% url 'faqs' %}">FAQs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                                </div><div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title mb-20">
                                            <h4>About The Store</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <p class="footer-text mb-35">Our mission statement is to provide the absolute best customer experience available in the Electronic industry without exception.</p>
                                            <div class="footer__hotline d-flex align-items-center mb-10">
                                                <div class="icon mr-15">
                                                    <i class="fal fa-headset"></i>
                                                </div>
                                                <div class="text">
                                                    <h4>Got Question? Call us 24/7!</h4>
                                                    <span><a href="tel:100-123-456-7890">(+100) 123 456 7890</a></span>
                                                </div>
                                            </div>
                                            <div class="footer__info">
                                                <ul>
                                                    <li>
                                                        <span>Add:  <a target="_blank" href="https://goo.gl/maps/c82DDZ8ALvL878Bv8"> #89 B/11, Domlur, Bangalore, Karnataka, India</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-content pt-55 pb-45">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer__links text-center mb-25">
                                <p>
                                    <a href="{% url 'faqs' %}">Online Shopping</a>
                                    <a href="{% url 'faqs' %}">Promotions</a>
                                    <a href="{% url 'faqs' %}">My Orders</a>
                                    <a href="{% url 'faqs' %}">Help</a>
                                    <a href="{% url 'faqs' %}">Customer Service</a>
                                    <a href="{% url 'faqs' %}">Support</a>
                                    <a href="{% url 'faqs' %}">Most Populars</a>
                                    <a href="{% url 'faqs' %}">New Arrivals</a>
                                    <a href="{% url 'faqs' %}">Special Products </a>
                                    <a href="{% url 'faqs' %}">Manufacturers</a>
                                    <br>
                                    <a href="{% url 'faqs' %}">Garden Equipments</a>
                                    <a href="{% url 'faqs' %}">Powers And Hand Tools </a>
                                    <a href="{% url 'faqs' %}">Utensil &amp; Gadget </a>
                                    <a href="{% url 'faqs' %}">Printers</a>
                                    <a href="{% url 'faqs' %}">Projectors</a>
                                    <a href="{% url 'faqs' %}">Scanners</a>
                                    <a href="{% url 'faqs' %}">Store</a>
                                    <a href="{% url 'faqs' %}">Business</a>
                                </p>
                            </div>
                            <div class="payment-image text-center mb-25">
                                <a href="#"><img src="{% static 'assets/img/payment/payment.png' %}" alt=""></a>
                            </div>
                            <div class="copy-right-area text-center">
                                <p>Copyright © <span>NKMarket.</span> All Rights Reserved. Powered by <a href="#"><span class="main-color">NK-Groups.</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->
