{% load static %}

{% load product_tags %}
{% if product|length < 1 %}
<img src="{% static 'assets/img/no_data1.gif' %}" height = "500px">

{% else %}  

<div class="tab-content" id="productGridTabContent">
    {% comment %} grid view {% endcomment %}
    <div class="tab-pane fade  show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
        <div class="tp-wrapper">
            <div class="row g-0" id="filteredProducts">
                
                {% for i in product  %}
                    
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item product__item-d">
                        <div class="product__thumb fix">
                            <div class="product-image w-img">
                                <a href="{{i.get_absolute_url}}">
                                    <img src="{{i.featured_image}}" alt="product"  height = "220px">
                                </a>
                            </div>
                            
                            {% if i.Discount != 0 %}
                            <div class="product__offer">
                                <span class="discount">-{{i.Discount}}%</span>
                            </div>
                                
                            {% endif %}
                                
                            
                            <div class="product-action">
                                <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                    <i class="fal fa-eye"></i>
                                    <i class="fal fa-eye"></i>
                                </a>
                                <form action="{% url 'add_wishlist' %}" method = "POST">
                                    {% csrf_token %}
                                    <input type="text" name = "product_id" value="{{i.id}}" hidden>
                                    <button><a href="#" class="icon-box icon-box-1" >
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a></button>
                              </form>
                                {% comment %} <a href="#" class="icon-box icon-box-1">
                                    <i class="fal fa-layer-group"></i>
                                    <i class="fal fa-layer-group"></i>
                                </a> {% endcomment %}
                            </div>
                        </div>
                        <div class="product__content-3">
                            <h6><a href="{{i.get_absolute_url}}">{{i.product_name | truncatewords:8}}</a></h6>
                            <div class="rating mb-5">
                                <ul>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                </ul>
                                {% comment %} <span>(01 review)</span> {% endcomment %}
                            </div>
                            {% if i.Discount != 0 %}
                            <div class="price mb-10">
                                <span>&#8377; {% cal_sellprice i.price i.Discount %}</span>&nbsp;&nbsp;<del> {{i.price}}</del>
                            </div>
                            {% else %}
                            <div class="price mb-10">
                                <span>&#8377; {% cal_sellprice i.price i.Discount %}</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="product__add-cart-s text-center">
                            <a href="{% url 'cart_add' i.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                Add to Cart
                            </a>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                Quick View
                            </button>
                        </div>
                    </div>
                </div>
                
                {% endfor %}   

            </div>
        </div>
    </div>


    {% comment %} list view {% endcomment %}
    <div class="tab-pane fade" id="FiveCol" role="tabpanel" aria-labelledby="FiveCol-tab">
        <div class="tp-wrapper-2">
            <div class="single-item-pd" id="filteredProducts">
                
                {% for i in product  %}
                                                        
                <div class="row align-items-center">
                    <div class="col-xl-9">
                        <div class="single-features-item single-features-item-df b-radius mb-20">
                            <div class="row  g-0 align-items-center">
                                <div class="col-md-4">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{{i.get_absolute_url}}"><img src="{{i.featured_image}}" alt=""></a>
                                        </div>
                                        {% if i.Discount != 0 %}
                                        <div class="product__offer">
                                            <span class="discount">-{{i.Discount}}%</span>
                                        </div>
                                            
                                        {% endif %}
                                        <div class="product-action">
                                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                                <i class="fal fa-eye"></i>
                                                <i class="fal fa-eye"></i>
                                            </a>
                                            <form action="{% url 'add_wishlist' %}" method = "post">
                                                {% csrf_token %}
                                                <input type="text" name = "product_id" value="{{i.id}}" hidden>
                                                <button><a href="#" class="icon-box icon-box-1" >
                                                    <i class="fal fa-heart"></i>
                                                    <i class="fal fa-heart"></i>
                                                </a></button>
                                            </form>
                                            {% comment %} <a href="#" class="icon-box icon-box-1">
                                                <i class="fal fa-layer-group"></i>
                                                <i class="fal fa-layer-group"></i>
                                            </a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="product__content product__content-d">
                                        <h6><a href="{{i.get_absolute_url}}">{{i.product_name | truncatewords:8}}</a></h6>
                                        <div class="rating mb-5">
                                            <ul class="rating-d">
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            </ul>
                                            {% comment %} <span>(01 review)</span> {% endcomment %}
                                        </div>
                                        <div class="features-des">
                                                <ul>
                                                    <li><a>{{i.Product_information|safe|truncatechars:400}}</a></li>
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="product-stock mb-15">
                            <h5>Availability: <span> {{i.availability}} in stock</span></h5>
                            {% if i.Discount != 0 %}
                            <div class="price mb-10">
                                <h4><span>&#8377; {% cal_sellprice i.price i.Discount %}</span>&nbsp;&nbsp;<del> {{i.price}}</del></h4>
                            </div>
                            {% else %}
                            <div class="price mb-10">
                                <h4><span>&#8377; {% cal_sellprice i.price i.Discount %}</span></h4>
                            </div>
                            {% endif %}
                        </div>
                        <div class="stock-btn ">
                            <a href="{% url 'cart_add' i.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                Add to Cart
                            </a>
                            <p></p>
                            <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                Quick View
                            </button>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div> 
        </div>
    </div>



</div>   

{% endif %}